*, *::before, *::after {
  box-sizing border-box;
  margin: 0;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-container {
  width: 660px;
  min-height: 680px;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  margin: 0 0 3em;
  background-image: linear-gradient(to right top, #61f9c4, #00dbeb, #00b6ff, #0083ff, #7a12eb);
  box-shadow: 5px 10px 8px 10px #888888;
  border-radius: 9px;
}

.card {
  list-style-type: none;
  width: 125px;
  height: 125px;
  background: #2e3d49;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-size: 0;
}

.card:not(:nth-child(4n+4)) {
  margin-right: 25px;
}

.card-open {
  font-size: 50px;
  /* transition: all 0.5 ease;
  transform: rotateY(180deg); */
  animation-name: fadeIn;
  animation-duration: .75s;
  cursor: default;
}

.wrong-match {
    background: #f45d5d;
}
.correct-match {
    background: #42f973;
}

.mouse-stop {
    pointer-events: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
