*, *::before, *::after {
  box-sizing border-box;
  margin: 0;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-game-info {
    display: inline;
    float: left;
}

.right-game-info {
    display: inline;
    float: left;
}

.reset-button {
    background: white;
}

.card-container {
  width: 660px;
  min-height: 680px;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  margin: 0 0 3em;
  background-image: linear-gradient(to right top, #61f9c4, #00dbeb, #00b6ff, #0083ff, #7a12eb);
  box-shadow: 5px 10px 8px 10px #888888;
  border-radius: 9px;
}

.card {
  list-style-type: none;
  width: 125px;
  height: 125px;
  background: #2e3d49;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-size: 0;
}

.card:not(:nth-child(4n+4)) {
  margin-right: 25px;
}

.card-open {
  font-size: 50px;
  animation-name: flip-horizonal;
  animation-duration: 1.5s;
  pointer-events: none;
}

.wrong-match {
    background: #f45d5d;
    animation-name: incorrect-animation;
    animation-duration: 1s;
}

.correct-match {
    background: #42f973;
    animation-name: correct-animation;
    animation-duration: 1s;
}

.mouse-stop {
    pointer-events: none;
}

@keyframes correct-animation {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.5, 1, 1);
	}

	40% {
		transform: scale3d(1, 1.5, 1);
	}

	50% {
		transform: scale3d(1.25, 0.60, 1);
	}

	65% {
		transform: scale3d(0.60, 1.25, 1);
	}

	75% {
		transform: scale3d(1.10, .95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes flip-horizonal {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}

@keyframes incorrect-animation {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.5, 1.5, 1.5);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

/* @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
