*, *::before, *::after {
  box-sizing border-box;
  margin: 0;
}
body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    text-align: center;
    padding: 0.5em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-game-info {
    display:inline-block;
    justify-content: space-between;
    padding-right: 2em;
    padding-bottom: 0.5em;
}

.bottom-game-info {
    display:inline-block;
    justify-content: space-between;
    padding-bottom: 0.5em;
    padding-left: 2em;
}

.reset-button {
    background: white;
    margin-left: auto;
}

.card-container {
    width: 660px;
    min-height: 680px;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    margin: 0 0 3em;
    background-image: linear-gradient(to right top, #61f9c4, #00dbeb, #00b6ff, #0083ff, #7a12eb);
    box-shadow: 5px 10px 8px 10px #888888;
    border-radius: 9px;
}

.card {
    list-style-type: none;
    width: 125px;
    height: 125px;
    background: #2e3d49;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    font-size: 0;
    box-shadow: 5px 8px 8px 2px #888888;
}

.card:not(:nth-child(4n+4)) {
    margin-right: 25px;
}

.card-open {
    font-size: 50px;
    animation-name: flip-horizonal;
    animation-duration: 1.5s;
    pointer-events: none;
}

.wrong-match {
    background: #f45d5d;
    animation-name: incorrect-animation;
    animation-duration: 1s;
}

.correct-match {
    background: #42f973;
    animation-name: correct-animation;
    animation-duration: 1s;
}

.mouse-stop {
    pointer-events: none;
}

.swal-text {
    padding: 17px;
    display: block;
    margin: 22px;
    text-align: center;
    font-size: 16px;
}

.swal-footer {
    background-color: rgb(245, 248, 250);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
}

@media (max-width: 749px) {
    .cardContainer {
        width: 500px;
    }
}

@media (min-width: 750px) {
    .cardContainer {
        width: 660px;
    }
}

@keyframes correct-animation {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.5, 1, 1);
	}

	40% {
		transform: scale3d(1, 1.5, 1);
	}

	50% {
		transform: scale3d(1.25, 0.60, 1);
	}

	65% {
		transform: scale3d(0.60, 1.25, 1);
	}

	75% {
		transform: scale3d(1.10, .95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes flip-horizonal {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}

@keyframes incorrect-animation {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.5, 1.5, 1.5);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}
